body {
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.first-class {
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30%;
    color: aliceblue;
}

h1 {
    font-size: 60px;
}

h4 {
    font-size: 15px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;

}

.background-images {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    margin-top: 0;
    display: flex;
    background-size: cover;
    margin-bottom: 10%;
}

.lets {
    color: blue;
}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(to bottom right, blue, skyblue);
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.donate-today {

    text-align: center;

}

.background-colour {
    background-color: antiquewhite;
    width: 50%;
    margin-left: 25%;
    border-radius: 50px;

    padding: 10px;
    box-shadow: 10px 10px 40px grey;
}

#today {
    font-size: 40px;
}

#text {
    font-size: 20px;
}

.donation-amount {
    width: 20%;
    margin-top: 20px;
    box-shadow: 10px 10px 40px grey;
    margin-left: 20px;
    text-align: center;
    padding: 30px;
    background-color: antiquewhite;
    font-size: 30px;

}

#colour {
    background-image: linear-gradient(to bottom right, blue, skyblue);

}



.today-button {
    text-align: center;

}

.amount {
    margin-bottom: 5%;
    display: flex;
    width: 50%;
    margin-left: 25%;

}

#plan {
    font-size: 40px;
}

.donation-plan {
    text-align: center;
    margin-bottom: 5%;
}

#our {
    margin-left: 30%;
    margin-right: 30%;
}

.donation {
    margin-bottom: 10%;
}

.donated {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
    box-shadow: 10px 10px 40px grey;

    text-align: left;
}

.our-donation-plan {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;

}

#first {
    background-color: aliceblue;
}

#second {
    background-color: antiquewhite;
}

#third {
    background-color: beige;
}